.containerslider div {
    display: inline-block;
    display: none;
}
.containerslider img {
    width: 100%;
    height:100%;
    background-size: cover;

   


}

.containerslider{
     padding:10px;
    background-color:#ccc;
}

.containerslider img::before{

    
    -moz-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.round{
 border-radius: 100%;
}
.demo {
    height: 100%;
    width: 100%;
}
.thumbnails img {
    height: 80px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
}
.ui-btn-icon-left .ui-icon {
    display: none;
}
.thumbnails img:hover {
    border: 4px solid #00ccff;
    cursor: pointer;
}
.preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 800px;
}
label {
    color: red;
    font-family: wolf;
}
input {
    background-color: white;
}
#ball-one {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/am.jpg);
}
.menu {
    width: 100%;
    padding: 15px 0px 0px 0;
    text-align: center;
}
.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline;
    line-height: 25px;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    width: 85px;
    height: 125px;
    margin: 0px 6px 5px 6px;
    background: url(../images/icon_bg.png) no-repeat center top;

}
.menu ul li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: wolf;
}
.menu ul li a img {
    padding: 0px;
    width: 85px;
    height: 85px;
    border: none;
}
@font-face {
    font-family: wolf;
    src: url(WolvesandRuin.ttf);
}
h2 {
    color: red;
    text-align: center;
    font-family: wolf;
}
#heavy {
    display: none;
}
.ui-body-c {
    background-image: url(../images/background.jpg);
    background-size: cover;
}
.verplaatsing {
    text-align: center;
    margin: 0 auto;
    font-family: wolf;
    color: red;
}
a {
    text-decoration: none;
}
.ui-body-c .ui-link {
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.ui-body-c .ui-link:visited{
    color: white;
}
.ui-body-c .ui-link:visited{
color: white;
}
#ball-two {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/hm.jpg);
}

#metalstyle {
    width: 100%;
    height: 100%;
     background-size: cover;
    padding: 0px;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/metal.jpg);
}


#ball-three {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/emo.jpg);
}
#ball-four {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/screamo.jpg);
}
#ball-five {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/dm.jpg);
}
#ball-six {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/bm.jpg);
}
.logo {
    margin: 0 0 50px;
}
.header {
    position: relative;
    left: -20%;
}
#ball-7 {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/tm.jpg);
}
#ball-8 {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(182, 29, 21, 0.5) 10%, rgba(182, 29, 21, 0.5)99%);
    box-shadow: inset 0 -5px 15px rgba( 69, 49, 48, 1), inset -2px -1px 40px rgba( 69, 49, 48, 1);
    color: #FFF;
    background-image: url(../images/dc.jpg);
}
#ball-9 {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/mc.jpg);
}
#ball-10 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/em.png);
}
#ball-11 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/gc.jpg);
    opacity: 1;
}
#ball-12 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/spm.jpg);
}
div#container_slider {
    border: 1px solid #666666;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 13px;
    clear: both;
    overflow: hidden;
    width: 50%;
    position: relative;
    top: 35px;
    margin: 0 auto;
    background: #ebebeb;
    -moz-box-shadow: 0px 45px 33px -32px #000;
    -webkit-box-shadow: 0px 45px 33px -32px #000;
    box-shadow: 0px 45px 33px -32px #000;
    display: block;
}
#ball-13 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/gm.jpg);
}
#currentImage {
    height: 100%;
    width: 100%;
}
button.next.blue {
    background: url(../images/next-blue.png);
    width: 58px;
    height: 58px;
    position: absolute;
    top: 40%;
    left: 80%;
    border: none;
    background-size: cover;
}
button.previous.blue {
    background: url(../images/prev-blue.png);
    width: 58px;
    height: 58px;
    position: absolute;
    top: 40%;
    left: 5%;
    border: none;
    background-size: cover;
}
a.next {
    position: relative;
    left: 10%;
    text-align: center;
}
a.previous {
    position: relative;
    left: 0%;
    text-align: center;
}
/*styled*/

div#container_slider {
    border: 1px solid #666666;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 13px;
    clear: both;
    overflow: hidden;
    width: 620px;
    position: relative;
    top: 35px;
    margin: 0 auto;
    background: #ebebeb;
    -moz-box-shadow: 0px 45px 33px -32px #000;
    -webkit-box-shadow: 0px 45px 33px -32px #000;
    box-shadow: 0px 45px 33px -32px #000;
    display: block;
}
#ball-14 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/im.jpg);
}
#ball-15 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/gam.jpg);
}
#ball-16 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/doom.jpg);
}
.ui-btn-active {
    color: none;
    background: none !important;
    background-color: none;
    border: none;
}
#ball-17 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/slm.jpg);
}
#ball-18 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/fm.jpg);
}
[data-role=footer] {
    bottom: 0;
    position: absolute;
    !important;
    top: auto !important;
    width: 100%;
    background-color: grey
}
#ball-19 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/gothic.jpg);
}
p {
    font-family: Lucida Bright, Georgia, serif
}
h2 {
    height: 50%;
    position: relative;
    left: 5%;
}
h4,
h1,
.ui-btn-text,
.ui-link-inherit {
    color: red;
    text-align: center;
    font-family: wolf;
}
#ball-20 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/power.jpg);
}
#ball-21 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/progressive.jpg);
}
#ball-22 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/symphonic.jpg);
}
#ball-23 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/iron.jpg);
}
#ball-24 {
    color: #FFF;
    background-image: url(../images/ns.jpeg);
    width: 100%;
    height: 100%;
}
#ball-500 {
    color: #FFF;
    background-image: url(../images/metal.jpg);
    width: 100%;
    height: 100%;
}
#ball-600 {
    color: #FFF;
    background-image: url(../images/core.jpg);
    width: 100%;
    height: 100%;
}
#ball-700 {
    color: #FFF;
    background-image: url(../images/rock.jpg);
    width: 100%;
    height: 100%;
}
.ui-content {
    padding: 0px;
}
#genres {
    background-image: url(../images/genre.jpg);
    border-radius: 100%;
    height: 50%;
    width: 30%;
    background-size: cover;
}
*[id^="ball-"] h3 {
    color: red;
    position: relative;
    text-align: center;
    font-size: 56px;
    opacity: 1;
    top: 20%;
    font-weight: 800;
}
*[id^="ball-"] {
    background-size: cover;
    padding: 0px;
    opacity: 1;
}
*[id^="ball"] {
    background-size: cover;
    padding: 0px;
    opacity: 1;
    height: 100%;
    width: 100%;
}
*[id^="metalstyle"] h3 {
    color: red;
    position: relative;
    text-align: center;
    font-size: 56px;
    opacity: 1;
    top: 20%;
    font-weight: 800;
}
*[id^="ball"] h3 {
    color: red;
    position: relative;
    text-align: center;
    font-size: 56px;
    opacity: 1;
    top: 20%;
    font-weight: 800;
}
#ball000001 {
    background-image: url(../images/acidrock.jpg);
}
.ui-grid-a .ui-block-a,
.ui-grid-a .ui-block-b {
    width: 100%;
}
#ball00001 {
    background-image: url(../images/alternativerock.jpg);
}
#ball0001 {
    background-image: url(../images/anatolianrock.jpg);
}
#ball001 {
    background-image: url(../images/artrock.jpg);
}
#ball01 {
    background-image: url(../images/bluesrock.jpg);
}
#ball1 {
    background-image: url(../images/bisrock.jpg);
}
#ball2 {
    background-image: url(../images/cellorock.jpg);
}
#ball3 {
    background-image: url(../images/celticrock.jpg);
}
#ball4 {
    background-image: url(../images/chicanorock.jpg);
}
#ball5 {
    background-image: url(../images/christianalternativerock.jpg);
}
#ball6 {
    background-image: url(../images/collegerock.jpg);
}
#ball7 {
    background-image: url(../images/comedyrock.jpg);
}
#ball8 {
    background-image: url(../images/countryrock.jpg);
}
#ball9 {
    background-image: url(../images/dancerock.jpg);
}
#ball10 {
    background-image: url(../images/darkrock.jpg);
}
#ball11 {
    background-image: url(../images/deathrock.jpg);
}
#ball12 {
    background-image: url(../images/electronicrock.jpg);
}
#ball13 {
    background-image: url(../images/garagerock.jpg);
}
#ball14 {
    background-image: url(../images/gothicrock.jpg);
}
#ball15 {
    background-image: url(../images/hardrock.jpg);
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/slowcore.jpg);
}
@font-face {
    font-family: wolf;
    src: url(WolvesandRuin.ttf);
}
.metal {
    color: red;
    font-family: wolf;
    font-size: 50px;
    border: none;
    list-style-type: none;
    text-decoration: none;
    font-weight: 700;
}
.pstn {
    position: absolute;
}
#ball-two2 {
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: inset 0 0 80px blue;
    color: #FFF;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/emocore.jpg);
}
#ball-three2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/trancecore.jpg);
}
#ball-four2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/mathcore.jpg);
}
#ball-five2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/posthardcore.jpg);
}
#ball-six2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/noisecore.jpg);
}
#ball-72 {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/queercore.jpg);
}
#ball-82 {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(182, 29, 21, 0.5) 10%, rgba(182, 29, 21, 0.5)99%);
    box-shadow: inset 0 -5px 15px rgba( 69, 49, 48, 1), inset -2px -1px 40px rgba( 69, 49, 48, 1);
    color: #FFF;
    background-image: url(../images/thrashcore.jpg);
}
#ball-92 {
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(187, 187, 187, 1) 0%, rgba(119, 119, 119, 1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
    background-image: url(../images/frenchcore.jpg);
}
#ball-102 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/speedcore.jpg);
}
#ball-112 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/terrorcore.jpg);
}
#ball-122 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/crunkcore.jpg);
}
#ball-132 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/britcore.jpg);
}
#ball-142 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/horrorcore.jpg);
}
#ball-152 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/nerdcore.jpg);
}
#ball-162 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/breakcore.jpg);
}
#ball-172 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/raggacore.jpg);
}
#ball-182 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/hatecore.jpg);
}
#ball-192 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/rapcore.jpg);
}
#ball-202 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/taqwacore.jpg);
}
#ball-212 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/jazzcore.jpg);
}
#ball-222 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/nintendocore.jpg);
}
#ball-232 {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url(../images/skacore.JPG);
}
#ball-242 {
    color: #FFF;
    background-image: url(../images/dh.jpg);
    width: 100%;
    height: 100%;
}
a {
    margin: 0 auto;
    text-align: center;
}